.card {
  margin: 20px 0px 20px 0px;
  height: auto;
  border: 2px solid red;
  border-radius: 8px;
}

.card2e1,
.card2e2,
.card2e3,
.card2e4,
.card2e5 {
  margin: 10px;
  height: auto;
  border: 2px solid red;
  border-radius: 6px;
}

// SIZE

.sizes {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

.sizesButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

// BORDERS

.borders {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

.bordersButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

// STATE

.state {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

.stateButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

// COLOR STATE

.colorStates {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

.colorStatesButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

// ICONS

.icons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}

.iconsButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin: 10px;
  height: 38px;
  border-radius: 4px;
}
