.card {
  margin: 20px 0px 20px 0px;
  height: auto;
  border-radius: 8px;
}

.card2e1,
.card2e2,
.card2e3,
.card2e4,
.card2e5 {
  margin: 10px;
  height: 90px;
  border-radius: 6px;
  background: #e8e8e8;
  box-shadow: 30px 30px 40px #bebebe, -10px -20px 60px #ffffff;
}

// SIZE

.sizes {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 10px;
  height: 38px;
  border-radius: 4px;
}

.sizesButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 5px 10px;
  height: 38px;
  border-radius: 4px;
}

// BORDERS

.borders {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 10px;
  height: 38px;
  border-radius: 4px;
}

.bordersButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 5px 10px;
  height: 38px;
  border-radius: 4px;
}

// STATE

.state {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 10px;
  height: 38px;
  border-radius: 4px;
}

.stateButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 5px 10px;
  height: 38px;
  border-radius: 4px;
}

// COLOR STATE

.colorStates {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 10px;
  height: 38px;
  border-radius: 4px;
}

.colorStatesButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 5px 10px;
  height: 38px;
  border-radius: 4px;
}

// ICONS

.icons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 10px;
  height: 38px;
  border-radius: 4px;
}

.iconsButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 5px 10px;
  height: 38px;
  border-radius: 4px;
}
