footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 8px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 8px;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #bebebe, -10px -20px -10px #ffffff;
}

p {
  font-size: 12px;
}

.linkedin {
  width: 30px;
}

.github {
  width: 30px;
}
