:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  @media (prefers-color-scheme: light) {
    :root {
      color: #6d6d6d;
      background-color: #5d6167;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
}
